<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin Clone</title>
</head>
<body>
    <h1>Pastebin Clone</h1>
    <h2>New paste</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post</button>
    </form>
    <hr>
    <h2>Paste list</h2>
<ul>
    {% for post in posts %}
        <li>
            {% if post.text|length > 50 %}
                {{ post.text|slice:":50" }}...
                <a href="{% url 'post_detail' post.id %}">Read more</a>
            {% else %}
                {{ post.text }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>
